{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="{% static 'images/services-left-image.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2> <em>About</em> <span>Us</span></h2>
            <hr>
            <p>We give web development services for Ethiopian clients. If you need any types of website Please contact us.</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
